nav {
	padding: 0 2.5rem;
	background-color: var(--logo-black);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 1px 1px 1rem black;
}

.navWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1750px;
	margin: auto;
}

.navbarLogo {
	height: 4.5rem;
	border-radius: 100%;
}

.navWrapper ul {
	list-style: none;
	display: flex;
}

.navWrapper li {
	padding: 0 1.5rem;
	border-left: 1px solid var(--logo-white);
	cursor: pointer;
}

.navWrapper li:hover {
	color: var(--hero-red);
	transition: color 0.5s ease;
}

.navWrapper li:first-child {
	border-left: none;
}
