.contactContentWrapper {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
	margin: 2rem auto 0 auto;
}

#contactH3 {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 0 0.5rem;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#contactH3:before {
	content: "";
	height: 0.3rem;
	width: 100%;
	top: 54%;
	left: 0;
	position: absolute;
	background-color: rgba(173, 31, 46, 0.7);
	transform: skewY(-1deg);
	z-index: -1;
}

.mapWrapper {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.mapWrapper iframe {
	border-radius: 1rem;
}

.mapTextContentContainer {
	padding: 0 0 2rem 2rem;
	text-align: left;
}

.mapTextContentContainer h4 {
	font-style: italic;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.listWrapper {
	display: flex;
}

.listItems {
	padding: 1rem;
	padding-left: 0;
}

.contactLogo {
	height: 40px;
}

.contactContentWrapper li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactContentWrapper h4 {
	font-size: 1.5rem;
	padding: 0.5rem;
}

.contactContentWrapper a {
	border-radius: 1rem;
	box-shadow: 8px 1rem 1rem rgba(0, 0, 0, 0.3);
}

.boxShadow {
	box-shadow: 8px 1rem 1rem rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
}
